<!doctype html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
		{% block static %}{% endblock %}
		{% block filterjs %}{% endblock %}
		{% block plotjs %}{% endblock %}

	</head>
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  		<div>
    		<ul class="navbar-nav">
      		<li class="nav-item">
        		<a class="nav-link" href="{% url 'explorer:summary' %}">Summary</a>
      		</li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Variation</a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'explorer:variation_distribution' %}">Distributions</a>
		          <a class="dropdown-item" href="{% url 'explorer:variation_species' %}">Species</a>
		        </div>
		      </li>
      		<li class="nav-item">
        		<a class="nav-link" href="{% url 'explorer:compare' %}">Compare</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="#">Taxonomy</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="#">About</a>
      		</li>
      	</ul>
      </div>
		</nav>


		<!-- Banner -->
		<div class='p-3'>
			<h1>tRNAviz</h1>
			<p class='lead'>Explore, filter, and visualize tRNA sequence features.</p>
		</div>

		<!-- Input / forms -->
		{% block filter %}{% endblock %}



		<!-- Visualizations -->
		<div class='free-scroll'>
			{% block plots %}{% endblock %}
		</div>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
	</body>
</html>