<!doctype html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
		{% block static %}{% endblock %}
		{% block filterjs %}{% endblock %}
		{% block plotjs %}{% endblock %}

	</head>
	<body>
		<div class='p-3'>
			<h1>tRNAviz</h1>
			<p class='lead'>Explore, filter, and visualize tRNA sequence features.</p>
			{% if messages %}
			<div class="row">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{% block filter %}{% endblock %}
		{% block plots %}{% endblock %}

	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
	</body>
</html>