<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="#">tRNAviz</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'explorer:summary' %}">Summary</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Variation</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'explorer:variation_distribution' %}">Distributions</a>
					<a class="dropdown-item" href="{% url 'explorer:variation_species' %}">Species</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'explorer:compare' %}">Compare</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Taxonomy</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
	</div>
</nav>
