{% load explorer_extras %}
				{{ clade_formset.management_form }}
				<div class='m-3'>
					<h5>Select clade groups</h5>
				</div>
				<div class="col-12">

					{% for clade_group_form in clade_formset.forms %}
					{% if forloop.counter0 == 0 %}
					<!-- Dummy clade form row -->
					<div class='clade-form-row-dummy' style='display:none;'>
					{% else %}
					<div class='clade-form-row'>
					{% endif %}
						<div class="row">
							<div class="col-11 pb-1">
								{% for field in clade_group_form.visible_fields %}
								<select class='form-control multiselect clade-select' multiple name="clade-{{ forloop.parentloop.counter0 }}-clade_group" id="id_clade-{{ forloop.parentloop.counter0 }}-clade_group" data-select2-id="id_clade-{{ forloop.parentloop.counter0 }}-clade_group">
									{% for choice in field.value %}
									<option value="{{ choice }}" selected >{{ choice|clade_lookup }}</option>
									{% endfor %}
								</select>
								{% endfor %}
							</div>
					  	{% if forloop.counter0 != 1 %}
					  	<button type="button" class="close remove-clade-group" aria-label="Remove clade group"><span aria-hidden="true">&times;</span></button>
					  	{% endif %}
						</div>
					</div>
					{% endfor %}
					<div class='my-2'>
						<a class="add-clade-group" href='#'>Add clade group</a>
					</div>
				</div>