{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}
{% debug %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Compare{% endblock %}

{% block filterjs %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script type='text/javascript'>
$(document).ready(function() {
	$('#clade-select-0').select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select reference clade", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
	$('#id_form-0-isotype').select2({width: "100%", allowClear: true, placeholder: "Select reference isotype"});
	for (var i = 2, form_rows = $('.form-row'); i < form_rows.length + 2; i++) {
		$('#clade-select-' + i).select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
		$('#id_form-' + i + '-isotype').select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
	}
	// Destroy bootstrap toggle for dummy, reinitialize when adding a new row
	$('#id_form-1-use_fasta').bootstrapToggle('destroy');
})


$(document).on('click', '.toggle', function(e) {
	e.preventDefault();
	
  // Form watches for "checked" attribute in checkbox input but toggle machinery doesn't do this
	var form_switch = $(this).find('input')[0];
	if (form_switch.hasAttribute('checked')) $(form_switch).removeAttr('checked');
	else $(form_switch).attr('checked', true);

	// Replace fasta / select
	var db_selects = $(this).closest('.form-row').find('.db-select');
	var fasta_input = $(this).closest('.form-row').find('.fasta-input');
	var domain_select = $(this).closest('.form-row').find('.domain-select');
	if (form_switch.hasAttribute('checked')) {
		db_selects.css('display', 'none');
		fasta_input.css('display', 'block');
		domain_select.css('display', 'inline-block');
	}
	else {
		db_selects.css('display', 'block');
		fasta_input.css('display', 'none');
		domain_select.css('display', 'none');
	}
});


$(document).on('click', '.add-form-row', function(e){
  e.preventDefault();
  var clade_select, isotype_select, fasta_input, use_fasta_toggle;

  var addFormRow = function () {
  	var new_form = $('.form-row-dummy').clone(true).removeClass().addClass('form-row').css('display', 'block');
  	var form_index = $('#id_form-TOTAL_FORMS').val();
  	name_input = new_form.find('#id_form-1-name');
  	name_input.attr({'name': 'form-' + form_index + '-name', 'id': 'id_form-' + form_index + '-name'}).val('');
	  clade_select = new_form.find('#clade-select-1');
	  clade_select.attr({'name': 'form-' + form_index + '-clade', 'id': 'clade-select-' + form_index}).val('');
	  isotype_select = new_form.find('#id_form-1-isotype');
	  isotype_select.attr({'name': 'form-' + form_index + '-isotype', 'id': 'id_form-' + form_index + '-isotype'}).val('');
	  fasta_input = new_form.find('#id_form-1-fasta')
	  fasta_input.attr({'name': 'form-' + form_index + '-fasta', 'id': 'id_form-' + form_index + '-fasta'}).val('');
	  use_fasta_toggle = new_form.find('#id_form-1-use_fasta');
	  use_fasta_toggle.attr({'name': 'form-' + form_index + '-use_fasta', 'id': 'id_form-' + form_index + '-use_fasta'}).val('');
	  $('#id_form-TOTAL_FORMS').val(++form_index);
	  $('.form-row:last').after(new_form)
  }

  $.when(addFormRow()).done( function() {
  	clade_select.select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade", 
			minimumInputLength: 3,
		  ajax: {
				url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
  	isotype_select.select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
  	use_fasta_toggle.bootstrapToggle();
  });
});

var select2_placeholders = {'name': 'Group name (required)', 'clade': 'Select clade', 'isotype': 'Select isotype', 'fasta': 'Paste sequence in FASTA format (sequence characters in [AGCUT] only)'}

$(document).on('click', '.remove-form-row', function(e){
  e.preventDefault();
  var form_number = parseInt($('#id_form-TOTAL_FORMS').val());
  $(this).closest('.form-row').remove();
  $('#id_form-TOTAL_FORMS').val(--form_number);
  // loop through all forms and update field numbering
  for (var i = 1, form_index = 3, form_rows = $('.form-row'); i < form_rows.length; i++, form_index++) {
    $(form_rows.get(i)).find(':input').each(function() {
    	if ($(this).hasClass('btn')) return true;
  		var old_number_regex = new RegExp('\\d+');
      var name = $(this).attr('name').replace(old_number_regex, form_index);
      var id = $(this).attr('id').replace(old_number_regex, form_index);
      $(this).attr({'name': name, 'id': id});
      if ($(this).prop('tagName') != "SELECT") return true;

      // remove and rebind select2 for select fields
      // special handling for clade field, which needs to set up ajax lookups
      $(this).select2("destroy");
      $(this).attr('data-select2-id', id);
      var field = name.split('-').pop()
      if (field == "clade") {
      	$(this).select2({
					width: "100%", 
					allowClear: true, 
					placeholder: "Select clade", 
					minimumInputLength: 3,
				  ajax: {
				  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
			    	dataType: 'json'
			  	}
				});
      }
      else {
      	$(this).select2({width: "100%", allowClear: true, placeholder: select2_placeholders[field]});
      }

    });
  }
});
</script>
{% endblock %}

{% block plotjs %}
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src="{% static 'explorer/js/compare.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
	if ('{{ valid_form }}' == 'True') {

		d3.json('{% url "explorer:bitchart" formset_json=formset_json %}', 
			function(plot_data) {
			  d3.select('#plot-area .loading-overlay').style('display', 'none');
			  if ("error" in plot_data) d3.select('#plot-area').text('Server error - try a different query')
			  else draw_bitchart(plot_data);
			});
	}
})

</script>
{% endblock %}

{% block filter %}

{% if formset|haserrors %}
<div class='alert alert-danger'>
	The following errors were found:<br>
	{% for error in formset.formset_wide_errors %}
		<li>{{ error|escape }}</li>
	{% endfor %}
	{% for dict in formset.errors %}
  {% for errorlist in dict.values %}
  	<!-- suppress errors for reference + dummy forms -->
  	{% if errorlist and forloop.parentloop.counter0 != 1 %}
  	{% if forloop.parentloop.counter0 == 0 %}
  	Reference:
  	{% else %}
  	Selection {{ forloop.parentloop.counter|minus2 }}:
  	{% endif %}
  	<ul>
  		{% for error in errorlist %}
			<li>{{ error|safe }}</li>
			{% endfor %}
		</ul>
		{% endif %}
  {% endfor %}
	{% endfor %}
</div>
{% endif %}

<div class='p-3'>
	<form id='data-select-form' action='' method="POST">
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset.forms %}
		{% if forloop.counter == 1 %}
		<div class='row vertical-align select-bar reference-select-bar'>
			<div class='col-md-2 p-3'>
				<h4>Reference</h4>
			</div>
			<div class='col-md-10 p-3'>
		{% elif forloop.counter == 2 %}
		<div class='row vertical-align select-bar data-select-bar'>
			<div class='col-md-2 p-3'>
				<h4>Selections</h4>
			</div>
			<div class='col-md-10 p-3'>
		{% endif %}
				{% if forloop.counter == 1 %}
				<div>
				{% elif forloop.counter == 2 %}
				<div class='form-row-dummy' style="display: none;">
				{% elif forloop.counter > 2 %}
				<div class='form-row' style='display: block;'>
				{% endif %}
				{% if forloop.counter == 2 or forloop.counter > 3 %}
					<hr class="col-md-10">
				{% endif %}
				{% if forloop.counter > 1 %}
					<div class='my-2'>
						{{ form.name }}
					</div>
				{% endif %}
					<div class='my-2 db-select' style="display: {{ form.use_fasta.value|yesno:'none,block' }};">
						<select class='form-control multiselect clade-select' name="{{ form.clade.html_name }}" id="clade-select-{{ forloop.counter0 }}">
							<option></option>
							{% if form.clade.value == None and forloop.counter < 3 %}
							<option value="2759" selected>Eukaryota (domain)</option>
							{% elif form.clade.value != None %}
							<option value="{{ form.clade.value }}" selected >{{ form.clade.value|clade_lookup }}</option>
							{% endif %}
						</select>
					</div>
					<div class='my-2 db-select'  style="display: {{ form.use_fasta.value|yesno:'none,block' }};">
						{{ form.isotype }}
					</div>
					{% if forloop.counter > 1 %}
					<div class='my-2 fasta-input' style="display: {{ form.use_fasta.value|yesno:'block,none' }};">
						{{ form.fasta }}
					</div>
					{{ form.use_fasta }}
					<div class="domain-select" style="display: {{ form.use_fasta.value|yesno:'inline-block,none' }};">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-sm btn-secondary spoof-button">Select alignment model</label>
						</div>

						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							{% for radio in form.domain %}
							{% if radio.data.value == form.domain.value %}
							<label class="btn btn-sm btn-outline-secondary active" for="{{ radio.id_for_label }}">
							{% else %}
							<label class="btn btn-sm btn-outline-secondary" for="{{ radio.id_for_label }}">
							{% endif %}{{ radio.tag }}{{ radio.choice_label }}
							</label>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% if forloop.counter > 1 and forloop.counter != 3 %}
					<button class="btn btn-sm btn-danger remove-form-row">Delete row</button>
					{% endif %}
					<!-- prevent form from returning None because of lack of fields -->
					{% if forloop.counter == 1 %}
					<div class='my-2 fasta-input' style="display: none">
						{{ form.fasta }}
						{{ form.name }}
						{{ form.use_fasta }}
					</div>
					{% endif %}

				<!-- tag closing for IDE support -->
				{% if forloop.counter > 2 %}
				</div>
				{% elif forloop.counter == 2 %}
				</div>
				{% elif forloop.counter == 1 %}			
				</div>
				{% endif %}
		{% if forloop.last %}
				<hr class="col-md-10">
				<div class='my-2'>
          <button class="btn btn-success add-form-row">Add row</button>
					<button class='btn btn-primary' type='submit'>Submit</button>
        </div>
			</div>
		</div>
		{% elif forloop.counter == 1 %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</form>
</div>
{% endblock %}


{% block plots %}
<div class="p-3">
	{% if valid_form and formset_json != 'none' %}
	<div class="p-3" id="plot-area">
		<div class="loading-overlay">
	</div>
	{% endif %}
	

	<div class="tooltip" style="opacity:0">
		<table class="table table-sm table-striped table-bordered table-light">
			<tbody>
				<tr>
					<th scope="col">Position</th>
					<td id="tooltip-position"></td>
				</tr>
				<tr>
					<th scope="col">Group</th>
					<td id="tooltip-group"></td>
				</tr>
				<tr>
					<th scope="col">Score (mean)</th>
					<td id="tooltip-score"></td>
				</tr>
				<tr>
					<th scope="col">Feature (mode)</th>
					<td id="tooltip-feature"></td>
				</tr>
				<tr>
					<th scope="col">No. tRNAs</th>
					<td id="tooltip-freq"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}