{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}
{% debug %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Compare{% endblock %}

{% block filterjs %}
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {
	$('#reference-clade-select').select2({width: "100%", allowClear: true, placeholder: "Select reference clade"});
	$('#reference-isotype-select').select2({width: "100%", allowClear: true, placeholder: "Select reference isotype"});
	$('#clade-select-1').select2({width: "100%", allowClear: true, placeholder: "Select clade"});
	$('#isotype-select-1').select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
})
</script>


<script type='text/javascript'>
var select2_placeholders = {'name': 'Group name (required)', 'clade': 'Select clade', 'isotype': 'Select isotype', 'fasta': 'Paste sequence in FASTA format (sequence characters in [AGCUT] only)'}
function deleteForm(prefix, btn) {
  var form_number = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
  
  btn.closest('.form-row').remove();
  form_number--;
  $('#id_' + prefix + '-TOTAL_FORMS').val(form_number);
  // loop through all forms and update field numbering
  for (var i = 1, form_rows = $('.form-row'); i < form_rows.length; i++) {
    $(form_rows.get(i)).find(':input').each(function() {
    	if ($(this).hasClass('btn')) return true;
  		var old_number_regex = new RegExp('\\d+');
      var name = $(this).attr('name').replace(old_number_regex, i + 1);
      var id = $(this).attr('id').replace(old_number_regex, i + 1);
      // remove and rebind select2 to all fields
      $(this).select2("destroy");
      $(this).attr({'name': name, 'id': id, 'data-select2-id': id});
      var field = name.split('-').pop()
      $(this).select2({width: "100%", allowClear: true, placeholder: select2_placeholders[field]});
    });
  }
}
$(document).on('click', '.add-form-row', function(e){
  e.preventDefault();
  var clade_select;
  var isotype_select;
  var form_number;
  var addFormRow = function () {
  	var new_form = $('.form-row-dummy').clone(true).removeClass().addClass('form-row').css('display', 'block');
  	form_number = $('#id_form-TOTAL_FORMS').val(); // looks up total number of forms in management form

	  clade_select = new_form.find('#clade-select-0');
	  clade_select.attr({'name': 'form-' + form_number + '-clade', 'id': 'clade-select-' + form_number}).val('');
	  isotype_select = new_form.find('#isotype-select-0')
	  isotype_select.attr({'name': 'form-' + form_number + '-isotype', 'id': 'isotype-select-' + form_number}).val('');

	  form_number++;
	  $('#id_form-TOTAL_FORMS').val(form_number);
	  $('.form-row:last').after(new_form)
  }

  $.when(addFormRow()).done( function() {
  	clade_select.select2({width: "100%", allowClear: true, placeholder: "Select clade"});
  	isotype_select.select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
  });
	
});

$(document).on('click', '.remove-form-row', function(e){
  e.preventDefault();
  deleteForm('form', $(this));
  return false;
});
</script>
{% endblock %}


{% block filter %}
<div class='p-3'>
	<form id='data-select-form' action='' method="POST">
		{% csrf_token %}
		<div class='row vertical-align select-bar reference-select-bar'>
			<div class='col-md-2 p-3'>
				<h4>Reference</h4>
			</div>

			{{ formset.management_form }}
			{% for form in formset.forms %}
			{% if forloop.first %}
			<div class='col-md-10 p-3'>

				<div class='my-2'>
					<select class='multiselect' name="form-0-clade" id="reference-clade-select">
						{% for clade in form.clade.field.choices %}
							{% if clade.1 == "Eukaryota (domain)" %}
							<option value="{{ clade.0 }}" selected="selected">{{ clade.1 }}</option>
							{% else %}
							<option value="{{ clade.0 }}">{{ clade.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class='my-2'>
					<select class='multiselect' name="form-0-isotype" id="reference-isotype-select">
						<option value="All" selected="selected">All isotypes</option>
						{% for isotype in form.isotype.field.choices %}
						<option value="{{ isotype.0 }}">{{ isotype.0 }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class='row vertical-align select-bar data-select-bar'>
			<div class='col-md-2 p-3'>
				<h4>Selections</h4>
			</div>

			<div class='col-md-10 p-3'>
				<div class='form-row-dummy' style="display: none;">
					<hr class='col-md-10'>
					<div class='my-2'>
						<select class='multiselect' name="form-1-clade" id="clade-select-0">
							<option></option>
							{% for clade in form.clade.field.choices %}
							{% if clade.1 == "Eukaryota (domain)" %}
							<option value="{{ clade.0 }}" selected="selected">{{ clade.1 }}</option>
							{% else %}
							<option value="{{ clade.0 }}">{{ clade.1 }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class='my-2'>
						<select class='multiselect' name="form-1-isotype" id="isotype-select-0">
							<option value="All" selected="selected">All isotypes</option>
							{% for isotype in form.isotype.field.choices %}
							<option value="{{ isotype.0 }}">{{ isotype.0 }}</option>
							{% endfor %}
						</select>
					</div>
					<button class="btn btn-sm btn-secondary switch-fasta-input">Switch to FASTA input</button>
					<button class="btn btn-sm btn-danger remove-form-row">Delete row</button>
				</div>
			{% else %}
				<div class='form-row' style='display: block;'>
					<div class='my-2'>
						<select class='multiselect' name="form-{{ forloop.counter }}-clade" id="clade-select-{{ forloop.counter|minus1 }}">
							<option></option>
							{% for clade in form.clade.field.choices %}
							{% if clade.1 == "Eukaryota (domain)" %}
							<option value="{{ clade.0 }}" selected="selected">{{ clade.1 }}</option>
							{% else %}
							<option value="{{ clade.0 }}">{{ clade.1 }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class='my-2'>
						<select class='multiselect' name="form-{{ forloop.counter }}-isotype" id="isotype-select-{{ forloop.counter|minus1 }}">
							<option value="All" selected="selected">All isotypes</option>
							{% for isotype in form.isotype.field.choices %}
							<option value="{{ isotype.0 }}">{{ isotype.0 }}</option>
							{% endfor %}
						</select>
					</div>
					<button class="btn btn-sm btn-secondary switch-fasta-input">Switch to FASTA input</button>
				</div>
			{% endif %}
			{% endfor %}

				<hr class="col-md-10">
				<div class='my-2'>
          <button class="btn btn-success add-form-row">Add row</button>
					<button class='btn btn-primary' type='submit'>Submit</button>
        </div>

      </div>



		</div>
				
				
	</form>
</div>
{% endblock %}


{% block plots %}
<div class="p-3">

	<div class="p-3" id="bitchart-area">
			<img src="http://users.soe.ucsc.edu/~blin/pub/srna-viz/bitcharts/hg19-tRNA-Ser-AGA.png" width="100%" align="center">
		<!-- <div class="loading-overlay">
		</div> -->
	</div>
</div>
{% endblock %}