{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block static %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<script src="{% static 'explorer/js/tooltip.js' %}"></script>
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
<script src="{% static 'explorer/js/compare.js' %}"></script>
<script src="{% static 'explorer/js/export.js' %}"></script>
{% endblock %}

{% block title %}tRNAviz | Compare{% endblock %}

{% block banner %}
tRNAviz | Compare
{% endblock %}

{% block description %}
Calculate position-specific conservation between groups of tRNAs. <sup><small><a href="{% url 'explorer:about' %}#Bitcharts" target="_blank">[?]</a></small></sup>
{% endblock %}

{% block filterjs %}
<script type='text/javascript'>
$(document).ready(function() {
	$('#clade-select-0').select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select reference clade", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
	$('#id_form-0-isotype').select2({width: "100%", allowClear: true, placeholder: "Select reference isotype"});
	for (var i = 2, form_rows = $('.form-row'); i < form_rows.length + 2; i++) {
		$('#clade-select-' + i).select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
		$('#id_form-' + i + '-isotype').select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
	}
	// Destroy bootstrap toggle for dummy, reinitialize when adding a new row
	// $('#id_form-1-use_fasta').bootstrapToggle('destroy');
})

var adata;
$(document).on('click', '.use-fasta-toggle', function(e) {
	e.preventDefault();
	adata = this;
  
  // String indicating which option is selected
	var use_fasta = $(this).find('label.active').find('input').val()

	// Replace fasta / select
	var db_selects = $(this).closest('.form-row').find('.db-select');
	var fasta_input = $(this).closest('.form-row').find('.fasta-input');
	var domain_select = $(this).closest('.form-row').find('.domain-select');
	if (use_fasta == "True") {
		db_selects.css('display', 'none');
		fasta_input.css('display', 'block');
		domain_select.css('display', 'inline-block');
	}
	else {
		db_selects.css('display', 'block');
		fasta_input.css('display', 'none');
		domain_select.css('display', 'none');
	}
});

$(document).on('click', '.add-form-row', function(e){
  e.preventDefault();
  var clade_select, isotype_select, fasta_input, use_fasta_toggle;

  var addFormRow = function () {
  	var new_form = $('.form-row-dummy').clone(true).removeClass().addClass('form-row').css('display', 'block');
  	var form_index = $('#id_form-TOTAL_FORMS').val();
  	name_input = new_form.find('#id_form-1-name');
  	name_input.attr({'name': 'form-' + form_index + '-name', 'id': 'id_form-' + form_index + '-name'}).val('');
	  clade_select = new_form.find('#clade-select-1');
	  clade_select.attr({'name': 'form-' + form_index + '-clade', 'id': 'clade-select-' + form_index}).val('');
	  isotype_select = new_form.find('#id_form-1-isotype');
	  isotype_select.attr({'name': 'form-' + form_index + '-isotype', 'id': 'id_form-' + form_index + '-isotype'}).val('');
	  fasta_input = new_form.find('#id_form-1-fasta')
	  fasta_input.attr({'name': 'form-' + form_index + '-fasta', 'id': 'id_form-' + form_index + '-fasta'}).val('');
	  use_fasta_toggle = new_form.find('#id_form-1-use_fasta');
	  use_fasta_toggle.attr({'name': 'form-' + form_index + '-use_fasta', 'id': 'id_form-' + form_index + '-use_fasta'}).val('');
	  $('#id_form-TOTAL_FORMS').val(++form_index);
	  $('.form-row:last').after(new_form);
  }

  $.when(addFormRow()).done( function() {
  	clade_select.select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade", 
			minimumInputLength: 3,
		  ajax: {
				url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
  	isotype_select.select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
  	// use_fasta_toggle.bootstrapToggle();
  });
});

var select2_placeholders = {'name': 'Group name (required)', 'clade': 'Select clade', 'isotype': 'Select isotype', 'fasta': 'Paste sequence in FASTA format (sequence characters in [AGCUT] only)'}

$(document).on('click', '.remove-form-row', function(e){
  e.preventDefault();
  var form_number = parseInt($('#id_form-TOTAL_FORMS').val());
  $(this).closest('.form-row').remove();
  $('#id_form-TOTAL_FORMS').val(--form_number);
  // loop through all forms and update field numbering
  for (var i = 1, form_index = 3, form_rows = $('.form-row'); i < form_rows.length; i++, form_index++) {
    $(form_rows.get(i)).find(':input').each(function() {
    	if ($(this).hasClass('btn')) return true;
  		var old_number_regex = new RegExp('\\d+');
      var name = $(this).attr('name').replace(old_number_regex, form_index);
      var id = $(this).attr('id').replace(old_number_regex, form_index);
      $(this).attr({'name': name, 'id': id});
      if ($(this).prop('tagName') != "SELECT") return true;

      // remove and rebind select2 for select fields
      // special handling for clade field, which needs to set up ajax lookups
      $(this).select2("destroy");
      $(this).attr('data-select2-id', id);
      var field = name.split('-').pop()
      if (field == "clade") {
      	$(this).select2({
					width: "100%", 
					allowClear: true, 
					placeholder: "Select clade", 
					minimumInputLength: 3,
				  ajax: {
				  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
			    	dataType: 'json'
			  	}
				});
      }
      else {
      	$(this).select2({width: "100%", allowClear: true, placeholder: select2_placeholders[field]});
      }
    });
  }
});
</script>
{% endblock %}

{% block plotjs %}
<script type="text/javascript">
$(document).ready(function () {
	if ('{{ valid_form }}' == 'True') {
		d3.json('{% url "explorer:bitchart" formset_json=formset_json %}', 
			function(plot_data) {
			  d3.select('#bitchart-area .loading-overlay').style('display', 'none');
			  if ("server_error" in plot_data) d3.select('#bitchart-area').text(plot_data['server_error'])
			  else draw_bitchart(plot_data);
			}
		);

		$('#bitchart-download-pdf').click(function() { download_pdf('bitchart'); });
  }
})

d3.json("{% url 'explorer:coords' %}", function(coords) {
	var circles = d3.select('#tooltip-cloverleaf')
		.append('svg')
		.attr('id', 'tooltip-cloverleaf-svg')
		.attr('width', 132)
		.attr('height', 136)
		.append('g')
		.selectAll('circle')
    .data(coords, d => 'circle' + d['position'])
    .enter()
    .append('circle')
    .attr('class', 'tooltip-cloverleaf-circle')
    .attr('id', d => 'circle' + d['position'])
    .attr('cx', d => d['x'] * 0.25)
    .attr('cy', d => d['y'] * 0.25)
    .attr('r', d => d['radius'] * 0.25);
});


</script>
{% endblock %}

{% block filter %}
<div class='container-fluid d-flex justify-content-center px-0'>
	<div class="plotbox-outer col-11 col-xl-9">

		{% if formset|haserrors:'compare' %}
		<div class='mx-0 mt-3 mb-0 alert alert-danger'>
			The following errors were found:<br>
			{% for error in formset.formset_wide_errors %}
				<li>{{ error|escape }}</li>
			{% endfor %}
			{% for dict in formset.errors %}
		  {% for errorlist in dict.values %}
		  	<!-- suppress errors for reference + dummy forms -->
		  	{% if errorlist and forloop.parentloop.counter0 != 1 %}
		  	{% if forloop.parentloop.counter0 == 0 %}
		  	Reference:
		  	{% else %}
		  	Selection {{ forloop.parentloop.counter|minus2 }}:
		  	{% endif %}
		  	<ul>
		  		{% for error in errorlist %}
					<li>{{ error|safe }}</li>
					{% endfor %}
				</ul>
				{% endif %}
		  {% endfor %}
			{% endfor %}
		</div>
		{% endif %}


		<form id='data-select-form' action='' method="POST">
		{% csrf_token %}
		{{ formset.management_form }}
		<div class="row px-3 d-flex justify-content-center">
			{% for form in formset.forms %}
			{% if forloop.counter == 1 %}
			<div class='col-12 px-0 my-3 col-lg-4 mx-lg-0'>
				<div class='data-select-bar p-3 mr-lg-3'>
					<div class='m-3'>
						<h5>Reference clade / isotype</h5>
					</div>
					<div class="col-12">
						<div class="reference-row">
							<div class="row">
								<div class='col-12 pb-1 db-select'>
									Clade
									<select class='form-control multiselect clade-select' name="{{ form.clade.html_name }}" id="clade-select-{{ forloop.counter0 }}">
										<option></option>
										{% if form.clade.value != None %}
										<option value="{{ form.clade.value }}" selected >{{ form.clade.value|clade_lookup }}</option>
										{% endif %}
									</select>
								</div>
								<div class='col-12 pb-1 db-select'>
									Isotype
									{{ form.isotype }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='col-12 px-0 mb-3 col-lg-8 my-lg-3'>
				<div class='data-select-bar p-3'>
					<div class='m-3'>
						<h5>Query selections</h5>
					</div>
					<div class="col-12">
			{% else %}
				{% if forloop.counter == 2 %}
						<div class='form-row-dummy' style='display:none;'>
				{% else %}
						<div class='form-row'>
				{% endif %}
							<div class="row">
								<div class='col-11 pb-1'>
									Group
									{{ form.name }}
								</div>
								{% if forloop.counter != 1 and forloop.counter != 3 %}
								<div class="col-1">
							  	<button type="button" class="close btn remove-form-row" aria-label="Delete row"><span aria-hidden="true">&times;</span></button>
							  </div>
							  {% endif %}
								<div class='col-11 pb-1 db-select'>
									Clade
									<select class='form-control multiselect clade-select' name="{{ form.clade.html_name }}" id="clade-select-{{ forloop.counter0 }}">
										<option></option>
										{% if form.clade.value != None %}
										<option value="{{ form.clade.value }}" selected >{{ form.clade.value|clade_lookup }}</option>
										{% endif %}
									</select>
								</div>
								<div class='col-11 pb-1 db-select'>
									Isotype
									{{ form.isotype }}
								</div>
								<div class='col-11 pb-1 fasta-input' style="display: {{ form.use_fasta.value|yesno:'block,none' }};">
									Input tRNAs
									{{ form.fasta }}
								</div>
								<div class='col-12 pb-1 domain-select' style="display: {{ form.use_fasta.value|yesno:'inline-block,none' }};">
									<div class="btn-group btn-group-toggle d-none d-sm-inline-block" data-toggle="buttons">
											<label class="btn btn-sm btn-secondary spoof-button">Select domain</label>
									</div>
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										{% for radio in form.domain %}
										{% if radio.data.value == form.domain.value %}
										<label class="btn btn-sm btn-outline-secondary active" for="{{ radio.id_for_label }}">
										{% else %}
										<label class="btn btn-sm btn-outline-secondary" for="{{ radio.id_for_label }}">
										{% endif %}{{ radio.tag }}{{ radio.choice_label }}
										</label>
										{% endfor %}
									</div>
								</div>
								<div class='col-11 pt-1 use-fasta-toggle'>
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										{% for radio in form.use_fasta %}
										{% if radio.data.value == form.use_fasta.value %}
										<label class="btn btn-sm btn-outline-secondary active" for="{{ radio.id_for_label }}">
										{% else %}
										<label class="btn btn-sm btn-outline-secondary" for="{{ radio.id_for_label }}">
										{% endif %}{{ radio.tag }}{{ radio.choice_label }}
										</label>
										{% endfor %}
									</div>
								</div>
								{% if forloop.counter >= 2 %}
								<hr class="col-md-10">
								{% endif %}
							</div> <!-- row -->
						</div> <!-- form-row -->
			{% endif %}
			{% endfor %}

						<div class='my-2'>
							<a class="add-form-row" href='#'>Add row</a>
						</div>
					</div> <!-- col-12 -->
				</div> <!-- data-select-bar -->
			</div>
			<div class="col-12 mb-3 px-0">
				<button class='btn btn-primary btn-block' type='submit'>Submit</button>
			</div>
		</div>
		</form>
	</div>
</div>

{% endblock %}

{% block table %}
{% if valid_form %}
<div class="data-select-table">
	<table class="table sticky-top">
		<tbody>
			{% for form in formset.forms %}
			{% if forloop.counter == 1 %}
			<tr>
				<th scope="row">Reference</th>
				<td>{{ form.clade.value|clade_lookup }}, {{ form.isotype.value }}</td>
			</tr>
			{% elif forloop.counter > 2 %}
			<tr>
				<th scope="row">Selection {{ forloop.counter|minus2 }}: {{ form.name.value }}</th>
				{% if form.use_fasta.value %}
				<td>User FASTA input</td>
				{% else %}
				<td>{{ form.clade.value|clade_lookup }}, {{ form.isotype.value }}</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}


{% block plots %}
{% if valid_form and formset_json != 'none' %}
<div class="plotbox-row d-flex">
	<div class="flex-margin">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<div class="download-box dropdown">
	  			<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Download</a>
	  			<div class="dropdown-menu">
	    			<a class="dropdown-item" href="#" id='bitchart-download-pdf'>PDF</a>
	  			</div>
	  		</div>
				<h5>Nucleotide distribution by position / isotype</h5>
			</div>
			<div class="plotbox-inner" id="bitchart-area">
				<div class="loading-overlay" style='margin-left: 20em; margin-right: 20em'></div>
			</div>
		</div>
	</div>
</div>
{% endif %}
	

<div class="tooltip tooltip-compare" style="opacity:0">
	<table class="table table-sm table-striped table-bordered table-light">
		<tbody>
			<tr>
				<th scope="col">Position</th>
				<td id="tooltip-position"></td>
				<td id="tooltip-cloverleaf" rowspan="5"></td>
			</tr>
			<tr>
				<th scope="col">Group</th>
				<td id="tooltip-group"></td>
			</tr>
			<tr>
				<th scope="col">Score (mean)</th>
				<td id="tooltip-score"></td>
			</tr>
			<tr>
				<th scope="col">Feature (mode)</th>
				<td id="tooltip-feature"></td>
			</tr>
			<tr>
				<th scope="col">No. tRNAs</th>
				<td id="tooltip-freq"></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}