{% extends "explorer/variation.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block filterjs %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {

	for (var i = 1; i < 6; i++) {
		$('#id_clade_group_' + i).select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade(s)", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
	}
	$('#id_isotypes').select2({width: "100%", allowClear: true, placeholder: "Select isotype(s)"});
	$('#id_positions').select2({width: "100%", allowClear: true, placeholder: "Select position(s)"});
})
</script>
{% endblock %}


{% block plotjs %}
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src="{% static 'explorer/js/distributions.js' %}"></script>
<script type = "text/javascript">

d3.json('{% url "explorer:distribution" clade_txids=clade_groups|clade_groups_to_url_string isotypes=isotypes|list_to_url_string positions=positions|list_to_url_string %}', draw_distribution);
</script>
{% endblock %}



{% block filter %}

{% if form.errors %}
<div class='alert alert-danger'>
	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<li>Form error: {{ error|escape }}</li>
		{% endfor %}
	{% endif %}
	{% for field in form %}
		{% for error in field.errors %}
			<li>Error in field {{ field.name }}: {{ error|escape }}</li>
		{% endfor %}
	{% endfor %}
</div>
{% endif %}

<div class='p-3'>
	<div class='row vertical-align select-bar data-select-bar'>
		<div class='col-md-2 p-3'>
			<h4>Select tRNAs</h4>
		</div>
		<div class='col-md-10 p-3'>

			<form id='data-select-form' action='{% url "explorer:variation_distribution" %}' method="POST">
				{% csrf_token %}
				{% for field in form.visible_fields %}
					<div class='my-2'>
					{% if field.name == 'isotypes' or field.name == 'positions' %}
						{{ field }}
					{% else %}
					<select class='form-control multiselect clade-select' multiple name="{{ field.name }}" id="id_{{ field.name }}" data-select2-id="id_{{ field.name }}">
						{% for choice in field.value %}
						<option value="{{ choice }}" selected >{{ choice|clade_lookup }}</option>
						{% endfor %}
					</select>
					{% endif %}
					</div>
				{% endfor %}

				<div class='my-2'>
					<button class='btn btn-primary' type='submit'>Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}


{% block table %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Clade(s)</th>
			<th scope="col">Isotype(s)</th>
			<th scope="col">Position(s)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ clade_group_names|clade_names_to_pretty_string|linebreaks }}</td>
			<td>{{ isotypes|list_to_pretty_string }}</td>
			<td>{{ positions|list_to_pretty_string }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}