{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}
{% debug %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Compare{% endblock %}

{% block filterjs %}
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {
	$('#reference-clade').select2({width: "100%", allowClear: true, placeholder: "Select reference clade"});
	$('#reference-isotype').select2({width: "100%", allowClear: true, placeholder: "Select reference isotype"});
	// $('#clade-select-3').select2({width: "100%", allowClear: true, placeholder: "Select clade(s)"});
	// $('#clade-select-4').select2({width: "100%", allowClear: true, placeholder: "Select clade(s)"});
	// $('#clade-select-5').select2({width: "100%", allowClear: true, placeholder: "Select clade(s)"});
	// $('#isotypes-select').select2({width: "100%", allowClear: true, placeholder: "Select isotype(s)"});
	// $('#positions-select').select2({width: "100%", allowClear: true, placeholder: "Select position(s)"});
})
</script>
{% endblock %}


{% block filter %}
<div class='p-3'>
	<div class='row vertical-align select-bar data-select-bar'>
		<div class='col-md-2 p-3'>
			<h4>Select tRNAs</h4>
		</div>
		<div class='col-md-10 p-3'>

			<form id='data-select-form' action='{% url "explorer:render" %}' method="POST">
				{% csrf_token %}
				<div class='my-2'>
					<select class='multiselect' id="reference-clade">
						<option value="Eukaryota" selected="selected">All eukaryotes</option>
						{% for taxid, clade in clade_list.items %}
						<option value="{{ taxid }}">{{ clade.0 }} ({{ clade.1 }})</option>
						{% endfor %}
					</select>
				</div>
				<div class='my-2'>
					<select class='multiselect' id="reference-isotype">
						<option value="All" selected="selected">All isotypes</option>
						<option value="Ala">Ala</option>
						<option value="Arg">Arg</option>
						<option value="Asn">Asn</option>
						<option value="Asp">Asp</option>
						<option value="Cys">Cys</option>
						<option value="Gln">Gln</option>
						<option value="Glu">Glu</option>
						<option value="Gly">Gly</option>
						<option value="His">His</option>
						<option value="Ile">Ile</option>
						<option value="iMet">iMet</option>
						<option value="Leu">Leu</option>
						<option value="Lys">Lys</option>
						<option value="Met">Met</option>
						<option value="Phe">Phe</option>
						<option value="Pro">Pro</option>
						<option value="Ser">Ser</option>
						<option value="Thr">Thr</option>
						<option value="Trp">Trp</option>
						<option value="Tyr">Tyr</option>
						<option value="Val">Val</option>
					</select>
				</div>
				<div class='my-2'>
					<button class='btn btn-primary' type='submit'>Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}