{% extends "explorer/variation.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block filterjs %}
{{ block.super }}
<!-- initialize filter functions -->
<script type="text/javascript">
var codon_table = {
	'Ala': ['CGA', 'CGC', 'CGG', 'CGT'],
	'Arg': ['GCA', 'GCC', 'GCG', 'GCT', 'TCC', 'TCT'],
	'Asn': ['TTA', 'TTG'],
	'Asp': ['CTA', 'CTG'],
	'Cys': ['ACA', 'GCA'],
	'Gln': ['CTG', 'TTG'],
	'Glu': ['CTC', 'TTC'],
	'Gly': ['ACC', 'GCC', 'CCC', 'TCC'],
	'His': ['ATG', 'GTG'],
	'Ile': ['AAT', 'GAT', 'CAT', 'TAT'],
	'Ile2': ['CAT'],
	'Leu': ['AAG', 'GAG', 'CAT', 'TAG', 'CAA', 'TAA'],
	'Lys': ['CTT', 'TTT'],
	'Met': ['CAT'],
	'Phe': ['AAA', 'GAA'],
	'Pro': ['AGG', 'GGG', 'CGG', 'TGG'],
	'Ser': ['AGA', 'GGA', 'CGA', 'TGA', 'ACT', 'GCT'],
	'Thr': ['AGT', 'GGT', 'CGT', 'TGT'],
	'Trp': ['CCA'],
	'Tyr': ['ATA', 'GTA'],
	'Val': ['AAC', 'GAC', 'CAC', 'TAC'],
	'fMet': ['CAT'],
	'iMet': ['CAT']
}

$(document).ready(function() {
	// initialize select2 fields
	for (var i = 1, form_rows = $('.focus-form-row'); i <= form_rows.length; i++) {
		$('#id_focus-' + i + '-isotype').select2({width: "100%", allowClear: false, placeholder: "Select isotype"});
	  $('#id_focus-' + i + '-position').select2({width: "100%", allowClear: true, placeholder: "Select position"});
	  $('#id_focus-' + i + '-anticodon').select2({width: "100%", allowClear: false, placeholder: "Select anticodon"});

	  $('select#id_focus-' + i + '-isotype').on('change.select2', init_anticodon_updates);
		init_slider(i)();
	};
});

// initialize score sliders 
var init_slider = function(i) {
	return function() {
		var score_range = $('#focus-' + i + '-score-slider').prev().attr('score-range').split(' - ').map(Number);
		var selected_score = $('#focus-' + i + '-score-slider').prev().attr('value').split(' - ').map(Number);
		$('#focus-' + i + '-score-slider').slider({
      range: true,
      min: score_range[0],
      max: score_range[1],
      values: selected_score,
      slide: function( event, ui ) {
        $('#id_focus-' + i + '-score').val(ui.values[0] + " - " + ui.values[1]);
      }
    });
    $('#id_focus-' + i + '-score').val($('#focus-' + i + '-score-slider').slider('values', 0) + " - " + $('#focus-' + i + '-score-slider').slider('values', 1));
	}
};

// bind anticodon options to isotype updates
var init_anticodon_updates = function() {
	if ($(this).val() == 'All') var anticodons = [].concat.apply([], Object.values(codon_table)).sort();
	else var anticodons = codon_table[$(this).val()]
	var ac_data = anticodons.map(function(ac) { return {'id': ac, 'text': ac, 'disabled': false}});
	var ac_select = $(this).parent().next().find('select');
	var select2_options = ac_select.data('select2').options.options;
	ac_select.select2('destroy');
	ac_select.html('<option value="All" selected>All</option>');
	new_options = [{'id': 'All', text: 'All'}]
	for (var ac of anticodons) {
		ac_select.append('<option value="' + ac + '">' + ac + '</option>');
		new_options.push({'id': ac, 'text': ac});
	}
	select2_options.data = new_options;
	ac_select.select2(select2_options);
};

// Functions for adding and removing foci
$(document).on('click', '.add-focus', function(e){
  e.preventDefault();
  var form_index, position_select, isotype_select, anticodon_select, score_input, score_slider;

  var add_focus_row = function () {
  	var new_form = $('.focus-form-row-dummy').clone(true).removeClass().addClass('focus-form-row').css('display', 'block');
  	var form_index = $('#id_focus-TOTAL_FORMS').val();
	  position_select = new_form.find('#id_focus-0-position');
	  position_select.attr({
	  	'name': 'focus-' + form_index + '-position',
	  	'id': 'id_focus-' + form_index + '-position'
	  });
	  isotype_select = new_form.find('#id_focus-0-isotype');
	  isotype_select.attr({
	  	'name': 'focus-' + form_index + '-isotype',
	  	'id': 'id_focus-' + form_index + '-isotype'
	  });
	  anticodon_select = new_form.find('#id_focus-0-anticodon');
		anticodon_select.attr({
	  	'name': 'focus-' + form_index + '-anticodon',
	  	'id': 'id_focus-' + form_index + '-anticodon'
	  });
	  score_input = new_form.find('#id_focus-0-score');
	  score_input.attr({
	  	'name': 'focus-' + form_index + '-score', 
	  	'id': 'id_focus-' + form_index + '-score'
	  });
	  score_slider = new_form.find('#focus-0-score-slider');
	  score_slider.attr('id', 'focus-' + form_index + '-score-slider');
	  $('#id_focus-TOTAL_FORMS').val(++form_index);
	  $('.focus-form-row:last').after(new_form);
  };

  $.when(add_focus_row()).done( function() {
  	position_select.select2({width: "100%", allowClear: true, placeholder: "Select position"});
  	isotype_select.select2({width: "100%", allowClear: false, placeholder: "Select isotype"});
  	anticodon_select.select2({width: "100%", allowClear: false, placeholder: "Select anticodon"});

  	init_slider($('#id_focus-TOTAL_FORMS').val() - 1)();
	  $('select#id_focus-' + ($('#id_focus-TOTAL_FORMS').val() - 1) + '-isotype').on('change.select2', init_anticodon_updates);
  });
});

var select2_placeholders = {
	'position': 'Select position', 
	'isotype': 'Select isotype', 
	'anticodon': 'Select anticodon'
};

$(document).on('click', '.remove-focus', function(e){
  e.preventDefault();
  $(this).closest('.focus-form-row').remove();
  var form_number = parseInt($('#id_focus-TOTAL_FORMS').val());
  $('#id_focus-TOTAL_FORMS').val(--form_number);
  // loop through all forms and update field numbering
  for (var i = 1, form_index = 2, form_rows = $('.focus-form-row'); i < form_rows.length; i++, form_index++) {
  	// Handle all fields, including score slider (using input field as an anchor)
    $(form_rows.get(i)).find(':input').each(function() {
    	if ($(this).hasClass('btn')) return true;

  		var old_number_regex = new RegExp('focus-\\d+');
      var name = $(this).attr('name').replace(old_number_regex, 'focus-' + form_index)
      var id = $(this).attr('id').replace(old_number_regex, 'focus-' + form_index)
      $(this).attr({'name': name, 'id': id});
      if ($(this).prop('tagName') == 'SELECT') {
      	// remove and rebind select2 for select fields
      	$(this).select2("destroy");
      	$(this).attr('data-select2-id', id);
      	$(this).select2({width: "100%", allowClear: true, placeholder: select2_placeholders[name.split('-').pop()]});
      }
      else if ($(this).prop('tagName') == 'INPUT') {
      	$(this).next().attr('id', $(this).next().attr('id').replace(old_number_regex, 'focus-' + form_index));

      }
    });
  }
});

</script>
{% endblock %}


{% block plotjs %}
{{ block.super }}
<!-- draw plot with current parameters -->
<script type = "text/javascript">
d3.json('{% url "explorer:species_distribution" clade_txids=clade_groups|clade_groups_to_url_string foci=foci|foci_to_url_string %}',	function(plot_data) {
  d3.select('#distribution-area .loading-overlay').style('display', 'none');
  if ("error" in plot_data) d3.select('#distribution-area').text(plot_data['error'])
	else {
		draw_species_distribution(plot_data);

		// intialize download onclicks
		$('#distribution-download-pdf').click(function() { download_pdf('distribution'); });
		$('#distribution-download-json').click(function() { download_json(plot_data); });
	}
});
</script>
{% endblock %}

{% block description %}
{{ block.super }}

{% endblock %}


{% block filter %}
<div class='container-fluid d-flex justify-content-center px-0'>
	<div class="plotbox-outer col-11 col-sm-10 col-md-9 col-lg-8 col-xl-10">
		{% if clade_formset|haserrors:'' or focus_formset|haserrors:'' %}
		<div class="mx-0 mt-3 mb-0 alert alert-danger">
			The following errors were found:<br>
			{% if clade_formset|haserrors:'' %}
				{% for error in clade_formset.non_form_errors %}
					<li>{{ error|escape }}</li>
				{% endfor %}
				{% for dict in clade_formset.errors %}
			  {% for errorlist in dict.values %}
			  	<!-- suppress errors for dummy form -->
			  	{% if errorlist and forloop.parentloop.counter0 != 0 %}
			  		Clade group {{ forloop.parentloop.counter0 }}:
			  		{{ dict }}
					{% endif %}
			  {% endfor %}
				{% endfor %}
			{% endif %}


			{% if focus_formset|haserrors:'' %}
				{% for error in focus_formset.non_form_errors %}
					<li>{{ error|escape }}</li>
				{% endfor %}
				{% for dict in focus_formset.errors %}
			  {% for errorlist in dict.values %}
			  	<!-- suppress errors for dummy form -->
			  	{% if errorlist and forloop.parentloop.counter0 != 0 %}
			  		Focus {{ forloop.parentloop.counter0 }}:
			  		{{ dict }}
					{% endif %}
			  {% endfor %}
				{% endfor %}
			{% endif %}
		</div>
		{% endif %}
	
		<form id='data-select-form' action='{% url "explorer:variation_species" %}' method="POST">
		{% csrf_token %}
		<div class="row px-3 d-flex justify-content-center">
			<div class='col-12 px-0 my-3 col-xl-5 mx-xl-0'>
				<div class='data-select-bar p-3 mr-xl-3'>
					{% include "explorer/clade_group_filter.html" %}
				</div>
			</div>
			<div class='col-12 px-0 mb-3 col-xl-7 my-xl-3'>
				<div class='data-select-bar p-3'>
					{{ focus_formset.management_form }}
					<div class='m-3'>
						<h5>Select foci</h5>
					</div>
					<div class="col-12">
						{% for focus_form in focus_formset.forms %}
						{% if forloop.counter0 == 0 %}
						<!-- Dummy focus form row -->
						<div class='focus-form-row-dummy' style='display:none;'>
						{% else %}
						<div class='focus-form-row'>
						{% endif %}
							<div class="row">
								<div class='col-4 col-sm-5'>
								{% for field in focus_form.visible_fields %}
								{% if field.name == 'score' %}
								</div>
								<div class="col-7 col-sm-6">
									Score
									<div class="focus-score">
										<input type="text" id="id_focus-{{ forloop.parentloop.counter0 }}-score" name="{{ field.html_name }}" readonly class="score-slider" value="{{ field.value }}" score-range="{% score_range %}"><div id="{{ field.html_name }}-slider" class="pl-2"></div>
									</div>
								</div>
								{% else %}
									{% if field.name == 'anticodon' %}
									<div class='focus-anticodon pb-2'>
										Anticodon
										{{ field }}
									</div>
									{% else %}
									<div class='focus-{{ field.name }} pb-2'>
										{{ field.name|title }}
										{{ field }}
									</div>
									{% endif %}
								{% endif %}
								{% endfor %}
								{% if forloop.counter0 != 1 %}
								<div class="col-1">
							  	<button type="button" class="close remove-focus" aria-label="Remove focus"><span aria-hidden="true">&times;</span></button>
							  </div>
							  {% endif %}
							</div>
							<hr class="col-10">
						</div>
						{% endfor %}
						<div class='my-2'>
							<a class="add-focus" href='#'>Add focus</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mb-3 px-0">
				<button class='btn btn-primary btn-block' type='submit'>Submit</button>
			</div>
		</div>
 		</form>
	</div>
</div>
{% endblock %}

{% block table %}
<div class="data-select-table d-flex justify-content-center p-1">
	<table class="table table-sm table-responsive clade-group-table mx-1 mx-lg-3">
		<thead>
			<th colspan="2" class="text-lg-center">Clade groups</th>
		</thead>
		<tbody>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name / rank</th>
			</tr>
			{% for names in clade_group_names %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td class="text-nowrap">{{ names|clade_names_to_pretty_string }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="table table-sm table-responsive foci-table mx-1 mx-lg-3">
		<thead>
			<th colspan="4" class="text-lg-center">Foci</th>
		</thead>
		<tbody>
			<tr>
				<th scope="col">Position</th>
				<th scope="col">Isotype</th>
				<th scope="col">Anticodon</th>
				<th scope="col" class="text-nowrap">Score range</th>
			</tr>
			{% for focus in foci %}
			<tr>
				<td>{{ focus|focus_value:'position' }}</td>
				<td>{{ focus|focus_value:'isotype' }}</td>
				<td>{{ focus|focus_value:'anticodon' }}</td>
				<td>{{ focus|focus_value:'score' }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}