{% extends "explorer/variation.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block filterjs %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {
	for (var i = 1; i < 6; i++) {
		$('#id_clade_group_' + i).select2({
			width: "100%", 
			allowClear: true, 
			placeholder: "Select clade(s)", 
			minimumInputLength: 3,
		  ajax: {
		  	url: "{% url 'explorer:search' search_type='taxonomy' %}",
	    	dataType: 'json'
	  	}
		});
	  $('#id_focus_' + i + '_0').select2({width: "100%", allowClear: true, placeholder: "Select isotype"});
	  $('#id_focus_' + i + '_1').select2({width: "100%", allowClear: true, placeholder: "Select position"});
	}
})
</script>
{% endblock %}


{% block plotjs %}
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src="{% static 'explorer/js/distributions.js' %}"></script>
<script type = "text/javascript">
d3.json('{% url "explorer:species_distribution" clade_txids=clade_groups|clade_groups_to_url_string foci=foci|foci_to_url_string %}',	function(plot_data) {
  d3.select('#distribution-area .loading-overlay').style('display', 'none');
  if ("server_error" in plot_data) d3.select('#distribution-area').text(plot_data['server_error'])
	else draw_species_distribution(plot_data)
});
</script>
{% endblock %}



{% block filter %}


{% if form.errors %}
<div class='alert alert-danger'>
	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<li>Form error: {{ error|escape }}</li>
		{% endfor %}
	{% endif %}
	{% for field in form %}
		{% for error in field.errors %}
			<li>Error in field {{ field.name }}: {{ error|escape }}</li>
		{% endfor %}
	{% endfor %}
</div>
{% endif %}


<div class='p-3'>
	<div class='row vertical-align select-bar data-select-bar'>
		<div class='col-md-2 p-3'>
			<h4>Select tRNAs</h4>
		</div>
		<div class='col-md-10 p-3'>

			<form id='data-select-form' action='{% url "explorer:variation_species" %}' method="POST">
				{% csrf_token %}

				{% for field in form.visible_fields %}
					<div class='my-2'>
					{% if 'focus' in field.name %}
						<div class='row'>
							<div class='col'>
								{{ field.as_widget.isotype }}
							</div>
							<div class='col'>
								{{ field.as_widget.position }}
							</div>
						</div>
					{% else %}
						<select class='form-control multiselect clade-select' multiple name="{{ field.name }}" id="id_{{ field.name }}" data-select2-id="id_{{ field.name }}">
							{% for choice in field.value %}
							<option value="{{ choice }}" selected >{{ choice|clade_lookup }}</option>
							{% endfor %}
						</select>
					{% endif %}
					</div>
				{% endfor %}

				<div class='my-2'>
					{{ trna_form }}
				</div>
				<div class='my-2'>
					<button class='btn btn-primary' type='submit'>Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block table %}
<table class="table">
	<tbody>
		<tr>
			<th scope="row">Clade groups</th>
			<td>{{ clade_group_names|clade_names_to_pretty_string|linebreaks }}</td>
		</tr>
		<tr>
			<th scope="row">Foci</th>
			<td>{{ foci|foci_to_pretty_string|linebreaks }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}