{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block static %}<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">{% endblock %}
{% block title %}tRNAviz | Summary{% endblock %}

{% block filterjs %}
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {
	$('#id_clade').select2({width: "100%", allowClear: true, placeholder: "Select a clade"});
	$('#id_isotype').select2({width: "100%", allowClear: true, placeholder: "Select an isotype"});
})
</script>
{% endblock %}


{% block plotjs %}
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src="{% static 'explorer/js/consensus.js' %}"></script>
<script type = "text/javascript">
var coords_path = "{% url 'explorer:coords' %}"
d3.json('{% url "explorer:cloverleaf" clade_txid=clade_txid isotype=isotype %}', draw_cloverleaf)
d3.json('{% url "explorer:tilemap" clade_txid=clade_txid %}', draw_tilemap)
</script>
{% endblock %}



{% block filter %}
<div class='p-3'>
	<div class='row vertical-align select-bar data-select-bar'>
		<div class='col-md-2 p-3'>
			<h4>Select tRNAs</h4>
		</div>
		<div class='col-md-10 p-3'>

			<form id='data-select-form' action='{% url "explorer:summary" %}' method="POST">
				{% csrf_token %}
				<div class='my-2'>
					{{ form.clade }}
				</div>
				<div class='my-2'>
					{{ form.isotype }}
				</div>
				<div class='my-2'>
					<button class='btn btn-primary' type='submit'>Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}


{% block plots %}
<div class="p-3">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Clade</th>
				<th scope="col">Isotype</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ clade }}</td>
				<td>{{ isotype }}</td>
			</tr>
		</tbody>
	</table>

	<div class="p-3" id="cloverleaf-area">
		<div class="loading-overlay">
		</div>
	</div>

	<div class="p-3" id="tilemap-area">
		<div class="loading-overlay">
		</div>
	</div>
</div>
{% endblock %}