{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
<script src="{% static 'explorer/js/export.js' %}"></script>
<script src="{% static 'explorer/js/consensus.js' %}"></script>
{% endblock %}

{% block title %}tRNAviz | Summary{% endblock %}

{% block filterjs %}
<script>	
$(document).ready(function() {
	$('#id_clade').select2({
		width: "100%", 
		allowClear: true, 
		placeholder: "Enter a clade (required)", 
		minimumInputLength: 3,
	  ajax: {
	  	url: "{% url 'explorer:search' search_type='clade' %}",
    	dataType: 'json'
  	}
	});
	$('#id_isotype').select2({width: "100%", allowClear: true, placeholder: "Select an isotype (required)"});
})
</script>
{% endblock %}


{% block plotjs %}
<script type = "text/javascript">
var coords_path = "{% url 'explorer:coords' %}"
$(document).ready(function() {
	d3.json('{% url "explorer:cloverleaf" clade_txid=clade_txid isotype=isotype %}', function(plot_data) {
	  if ("server_error" in plot_data) d3.select('#cloverleaf-area').html(plot_data['server_error']);
		else {
		  d3.select('#cloverleaf-area .loading-overlay').style('display', 'none');
			d3.select('#cloverleaf-base-distro-area .loading-overlay').style('display', 'none');
			draw_cloverleaf(plot_data, "{{ isotype }}");
			draw_base_distro(plot_data, 'cloverleaf');
		  $('#cloverleaf-download-pdf').click(function() { download_pdf('cloverleaf'); });
		  $('#cloverleaf-download-png').click(function() { download_png('cloverleaf'); });
		  $('#cloverleaf-base-distro-download-pdf').click(function() { download_pdf('cloverleaf-base-distro'); });
		}
	});
	d3.json('{% url "explorer:tilemap" clade_txid=clade_txid %}', function(plot_data) {
	  if ("server_error" in plot_data) d3.select('#tilemap-area').html(plot_data['server_error']);
		else {
		  d3.select('#tilemap-area .loading-overlay').style('display', 'none');
			d3.select('#tilemap-base-distro-area .loading-overlay').style('display', 'none');
			draw_tilemap(plot_data);
			draw_base_distro(plot_data, 'tilemap');
		  $('#tilemap-download-pdf').click(function() { download_pdf('tilemap'); });
		  $('#tilemap-download-png').click(function() { download_png('tilemap'); });
		  $('#tilemap-base-distro-download-pdf').click(function() { download_pdf('tilemap-base-distro'); });
		}
	});
	d3.json('{% url "explorer:taxonomy_summary" clade_txid=clade_txid isotype=isotype %}', function(table_data) {
	  if ("server_error" in table_data) d3.select('#taxonomy-summary-area').html(table_data['server_error']);
		else {
		  d3.select('#taxonomy-summary-area .loading-overlay').style('display', 'none');
			$('#taxonomy-summary-area').html(tax_json_to_table(table_data))
		}
	});
	d3.json('{% url "explorer:domain_features" clade_txid=clade_txid isotype=isotype %}', function(table_data) {
	  if ("server_error" in table_data) d3.select('#domain-features-area').html(table_data['server_error']);
		else {
		  d3.select('#domain-features-area .loading-overlay').style('display', 'none');
			$('#domain-features-area').html(cons_json_to_table(table_data))
		}
	});

	$.get('{% url "explorer:anticodon_counts" clade_txid=clade_txid isotype=isotype %}')
	  .done(function(response) { $('#anticodon-counts-area').html(response); });
	$.get('{% url "explorer:isotype_discrepancies" clade_txid=clade_txid isotype=isotype %}')
	  .done(function(response) { $('#isotype-discrepancies-area').html(response); });

});
</script>
{% endblock %}

{% block banner %}
tRNAviz | Summary
{% endblock %}

{% block description %}
Consensus sequence features and frequency distributions at a glance. <sup><small><a href="{% url 'explorer:about' %}" target="_blank">[?]</a></small></sup>
{% endblock %}

{% block filter %}

<div class='container-fluid d-flex justify-content-center px-0'>
	<div class="plotbox-outer col-11 col-md-8 col-lg-6 col-xl-4">
		{% if form.errors %}
		<div class='mb-0 mt-3 alert alert-danger'>
			{% for field in form %}
				{% for error in field.errors %}
					<li>Error in {{ field.name }}: {{ error|escape }}</li>
				{% endfor %}
			{% endfor %}
		</div>
		{% endif %}
		<form id='data-select-form' action='{% url "explorer:summary" %}' method="POST">
		{% csrf_token %}
		<div class="row px-3 d-flex justify-content-center">
			<div class="col-12 px-0 my-3">
				<div class='data-select-bar p-3'>

					<div class='m-3'>
						<h5>Select clade/isotype</h5>
					</div>
					<div class="col-12">
						Clade
						<select class='form-control multiselect clade-select' name="clade" id="id_clade">
						{% if form.clade.value != None %}
						<option value="{{ form.clade.value }}">{{ form.clade.value|clade_lookup }}</option>
						{% else %}
						<option></option>
						{% endif %}
						</select>
					</div>
					<div class="col-12 pt-3 pb-3">
						Isotype
						{{ form.isotype }}
					</div>
				</div>
			</div>
			<div class="col-12 mb-3 px-0">
				<button class='btn btn-primary btn-block' type='submit'>Submit</button>
			</div>
		</div>
		</form>
	</div>
</div>
{% endblock %}

{% block table %}
<div class="data-select-table d-flex justify-content-center p-1 mb-3">
	<table class="table table-sm table-responsive clade-group-table mx-1 mx-lg-3">
		<thead>
			<th scope="col" class="text-lg-center">Clade</th>
		</thead>
		<tbody>
			<tr><td class="text-lg-center text-nowrap">{{ clade }}</td></tr>
		</tbody>
	</table>
	<table class="table table-sm mx-1 mx-lg-3">
		<thead>
			<th scope="col" class="text-lg-center">Isotype</th>
		</thead>
		<tbody>
			<tr><td class="text-lg-center">{{ isotype }}</td></tr>
		</tbody>
	</table>
	</div>
</div>
{% endblock %}


{% block plots %}

<div class="col-12 plotbox-row-title summary-sticky-bar">
	<h5 class='text-center'>Consensus features</h5>
</div>

<div class="plotbox-row d-flex justify-content-center flex-wrap">
	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<div class="download-box dropdown">
	  			<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Download</a>
	  			<div class="dropdown-menu">
	    			<a class="dropdown-item" href="#" id='cloverleaf-download-png'>PNG</a>
	    			<a class="dropdown-item" href="#" id='cloverleaf-download-pdf'>PDF</a>
	  			</div>
	  		</div>
				<h5>Cloverleaf</h5>
			</div>
			<div class="plotbox-inner" id="cloverleaf-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<div class="download-box dropdown">
	  			<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Download</a>
	  			<div class="dropdown-menu">
	    			<a class="dropdown-item" href="#" id='cloverleaf-base-distro-download-pdf'>PDF</a>
	  			</div>
	  		</div>
				<h5>Nucleotide distribution by position</h5>
			</div>
			<div class="plotbox-inner" id="cloverleaf-base-distro-area">
				<div class="loading-overlay" style='margin-left: 14em; margin-right: 14em'></div>
			</div>
		</div>
	</div>
</div>

<div class="col-12 plotbox-row-title summary-sticky-bar">
	<h5 class='text-center'>Context</h5>
</div>

<div class="plotbox-row d-flex justify-content-center flex-wrap">
	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>Taxonomy summary</h5>
			</div>
			<div class="table-inner" id="taxonomy-summary-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>Domain-specific features</h5>
			</div>
			<div class="table-inner" id="domain-features-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>Anticodon counts</h5>
			</div>
			<div class="table-inner" id="anticodon-counts-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>Isotype discrepancies</h5>
			</div>
			<div class="table-inner" id="isotype-discrepancies-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>
</div>

<div class="col-12 plotbox-row-title summary-sticky-bar">
	<h5 class='text-center'>Isotype-specific consensus features</h5>
</div>

<div class="plotbox-row d-flex justify-content-center flex-wrap">
	<div class="col-12 col-xl-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<div class="download-box dropdown">
	  			<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Download</a>
	  			<div class="dropdown-menu">
	    			<a class="dropdown-item" href="#" id='tilemap-download-pdf'>PDF</a>
	    			<a class="dropdown-item" href="#" id='tilemap-download-png'>PNG</a>
	  			</div>
	  		</div>
				<h5>Tilemap</h5>
			</div>
			<div class="plotbox-inner" id="tilemap-area">
				<div class="loading-overlay" style='margin-left: 20em; margin-right: 20em'></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<div class="download-box dropdown">
	  			<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Download</a>
	  			<div class="dropdown-menu">
	    			<a class="dropdown-item" href="#" id='tilemap-base-distro-download-pdf'>PDF</a>
	  			</div>
	  		</div>
				<h5>Nucleotide distribution by position / isotype</h5>
			</div>
			<div class="plotbox-inner" id="tilemap-base-distro-area">
				<div class="loading-overlay" style='margin-left: 14em; margin-right: 14em'></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}