{% extends "base.html" %}
{% load static %}
{% load explorer_extras %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Taxonomy{% endblock %}


{% block plotjs %}
<script type = "text/javascript">
$(document).ready(function() {

	$.get('{% url "explorer:genome_summary" taxonomy_id="root" %}')
	  .done(function(response) { $('#genome-summary-area').html(response); });
	$.get('{% url "explorer:score_summary_taxonomy" taxonomy_id="root" %}')
	  .done(function(response) { $('#score-summary-taxonomy-area').html(response); });
	$.get('{% url "explorer:score_summary_isotype" taxonomy_id="root" %}')
	  .done(function(response) { $('#score-summary-isotype-area').html(response); });

	$('.tax-display-button').click(function() {
		event.cancelBubble = true;
		if (event.stopPropagation) event.stopPropagation();

		if (!['assembly', 'species'].includes(this.id.split('-')[0])) {
			$('#genome-summary-area').html('<div class="loading-overlay"></div>');
			$.get('{% url "explorer:genome_summary_dynamic" %}' + this.id.split('-')[1])
			  .done(function(response) { $('#genome-summary-area').html(response); });

			$('#score-summary-taxonomy-area').html('<div class="loading-overlay"></div>');
			$.get('{% url "explorer:score_summary_taxonomy_dynamic" %}' + this.id.split('-')[1])
			  .done(function(response) { $('#score-summary-taxonomy-area').html(response); });
		}

		$('#score-summary-isotype-area').html('<div class="loading-overlay"></div>');
		$.get('{% url "explorer:score_summary_isotype_dynamic" %}' + this.id.split('-')[1])
		  .done(function(response) { $('#score-summary-isotype-area').html(response); }); 
	});

	$('.itol-button').click(function() {
		event.cancelBubble = true;
		if (event.stopPropagation) event.stopPropagation();

		if (!['assembly', 'species'].includes(this.id.split('-')[0])) {
			window.open('{% url "explorer:visualize_itol_dynamic" %}' + this.id.split('-')[1]);
		}
	})
})
</script>
{% endblock %}

{% block banner %}tRNAviz | Taxonomy{% endblock %}
{% block description %}Reference clade-specific aggregated tRNA annotations across taxonomic ranks{% endblock %}

{% block filter %}

<div class="container">
	<div class="col-12 tax-area">
		{% for x in tree %}
			{% if x.start_nodes %}
			<div class="accordion tax-accordion" id='node-{{ x.data.tax.id }}'>
			{% endif %}
				{% if x.start_node %}
				<div class="card tax-card d-flex justify-content-between" id="card-{{ x.data.tax.id }}">
		    	<div class="row tax-button" data-toggle="collapse" data-target="#{{ x.data.tax.id }}-children" aria-expanded="false" aria-controls="{{ x.data.tax.id }}-children">
		    		<div class="col-11 d-flex justify-content-start pt-2 pl-4">
		    			{{ x.data.tax }}
		    		</div>
			    	<div class="col-1 d-flex justify-content-end">
			    		{% if x.data.rank != 'assembly' and x.data.rank != 'species' %}
							<button class="btn btn-link itol-button" type="button" id="{{ x.data.tax.rank }}-{{ x.data.tax.id }}-display" name="{{ x.data.tax.name }}">&#12076;</button>
			    		{% endif %}
			    		<button class="btn btn-link tax-display-button" type="button" id="{{ x.data.tax.rank }}-{{ x.data.tax.id }}-itol">&rarr;</button>
			    	</div>
		    	</div>
			    <div id="{{ x.data.tax.id }}-children" class="collapse" aria-labelledby="{{ x.data.tax.id }}" data-parent="#node-{{ x.data.parent.tax.id }}">
			    	<div class="row">
			    		<div class="col-auto"></div>
			    		<div class="col">
			{% endif %}
			{% if x.end_node %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if x.end_nodes %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block plots %}
<div class="plotbox-row d-flex justify-content-center flex-wrap">
	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>tRNA counts by subclade</h5>
			</div>
			<div class="table-inner" id="genome-summary-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>Taxonomy tRNA statistics</h5>
			</div>
			<div class="table-inner" id="score-summary-taxonomy-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>


	<div class="col-12 col-sm-auto">
		<div class="plotbox-outer">
			<div class="plotbox-header">
				<h5>tRNA scores by isotype</h5>
			</div>
			<div class="table-inner" id="score-summary-isotype-area">
				<div class="loading-overlay"></div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
