{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Taxonomy{% endblock %}


{% block plotjs %}
<script type = "text/javascript">
$(document).ready(function() {
})
</script>
{% endblock %}

{% block banner %}tRNAviz | Taxonomy{% endblock %}
{% block description %}Reference clade-specific aggregated tRNA annotations across taxonomic ranks.{% endblock %}

{% block plots %}

<div class="container">
	<div class="row">
	</div>
</div>

{% endblock %}