{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" integrity="sha256-bmrwGjHOoD7azP+ZpGcOOitUNUGNRjwzjK1bZeTK6fI=" crossorigin="anonymous" />
{% endblock %}

{% block title %}tRNAviz | Variation{% endblock %}

{% block filterjs %}
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>	
$(document).ready(function() {
	$('#clade-select').select2({width: "100%", allowClear: true, placeholder: "Select a clade"});
	$('#isotypes-select').select2({width: "100%", allowClear: true, placeholder: "Select an isotype"});
	$('#positions-select').select2({width: "100%", allowClear: true, placeholder: "Select an isotype"});
})
</script>
{% endblock %}


{% block plotjs %}
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" integrity="sha256-Eg29ohiE9Hzc/t5whG/QK/B8MGmrO4wkF6WGuSsx0VU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.css" />
<script src="{% static 'explorer/js/distributions.js' %}"></script>
<script type = "text/javascript">
d3.json('{% url "explorer:distribution" clades=clades|clade_dict_to_url_string isotypes=isotypes|list_to_url_string positions=positions|list_to_url_string %}', draw_distribution);
</script>
{% endblock %}



{% block filter %}
<div class='p-3'>
	<div class='row vertical-align select-bar data-select-bar'>
		<div class='col-md-2 p-3'>
			<h4>Select tRNAs</h4>
		</div>
		<div class='col-md-10 p-3'>

			<form id='data-select-form' action='{% url "explorer:variation" %}' method="POST">
				{% csrf_token %}
				<div class='my-2'>
					<select class='multiselect' name="clades" multiple="multiple" id="clade-select">
						<option value="Eukaryota" selected="selected">All eukaryotes<option>
						{% for taxid, clade in clade_list.items %}
						<option value="{{ taxid }}">{{ clade.0 }} ({{ clade.1 }})<option>
						{% endfor %}
					</select>
				</div>
				<div class='my-2'>
					<select class='multiselect' name="isotypes" multiple="multiple" id="isotypes-select">
						<option value="All" selected="selected">All isotypes</option>
						<option value="Ala">Ala</option>
						<option value="Arg">Arg</option>
						<option value="Asn">Asn</option>
						<option value="Asp">Asp</option>
						<option value="Cys">Cys</option>
						<option value="Gln">Gln</option>
						<option value="Glu">Glu</option>
						<option value="Gly">Gly</option>
						<option value="His">His</option>
						<option value="Ile">Ile</option>
						<option value="iMet">iMet</option>
						<option value="Leu">Leu</option>
						<option value="Lys">Lys</option>
						<option value="Met">Met</option>
						<option value="Phe">Phe</option>
						<option value="Pro">Pro</option>
						<option value="Ser">Ser</option>
						<option value="Thr">Thr</option>
						<option value="Trp">Trp</option>
						<option value="Tyr">Tyr</option>
						<option value="Val">Val</option>
					</select>
				</div>
				<div class='my-2'>
					<select class='multiselect' name="positions" multiple="multiple" id="isotypes-select">
						<option value="single" selected="selected">Single bases</option>
						<option value="paired">Base pairs</option>
						<option value="tertiary">Tertiary interactions</option>
					</select>
				</div>
				<div class='my-2'>
					<button class='btn btn-primary' type='submit'>Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}


{% block plots %}
<div class="p-3">

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Clade(s)</th>
				<th scope="col">Isotype(s)</th>
				<th scope="col">Position(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ clades|clade_dict_to_pretty_string }}</td>
				<td>{{ isotypes|list_to_pretty_string }}</td>
				<td>{{ positions|list_to_pretty_string }}</td>
			</tr>
		</tbody>
	</table>

	<div class="p-3" id="distribution-area">
		<div class="loading-overlay">
		</div>
	</div>

</div>
{% endblock %}