{% extends "base.html" %}
{% load static from staticfiles %}
{% load explorer_extras %}
{% debug %}

{% block static %}
<link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}">
{% endblock %}

{% block title %}tRNAviz | Variation{% endblock %}

{% block plots %}
<div class="p-3">

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Clade(s)</th>
				<th scope="col">Isotype(s)</th>
				<th scope="col">Position(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ plot_clades|clade_dicts_to_pretty_string|linebreaks }}</td>
				<td>{{ isotypes|list_to_pretty_string }}</td>
				<td>{{ positions|list_to_pretty_string }}</td>
			</tr>
		</tbody>
	</table>

	<div class="p-3" id="distribution-area">
		<div class="loading-overlay">
		</div>
	</div>

	<div class="tooltip" style="opacity:0">
		<table class="table table-sm table-striped table-bordered table-light">
			<tbody>
				<tr>
					<th scope="col">Position</th>
					<td id="tooltip-position"></td>
				</tr>
				<tr>
					<th scope="col">Isotype</th>
					<td id="tooltip-isotype"></td>
				</tr>
				<tr>
					<th scope="col">Group</th>
					<td id="tooltip-group"></td>
				</tr>
				<tr>
					<th scope="col">Feature</th>
					<td id="tooltip-feature"></td>
				</tr>
				<tr>
					<th scope="col">Frequency</th>
					<td id="tooltip-freq"></td>
				</tr>
				<tr>
					<th scope="col">Count</th>
					<td id="tooltip-count"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}